# yaml preferences for lifestream
# http://www.yaml.org/
# This file is read in and written by the lifestream python script

-
  name : blippr
  style : link
  url : "http://www.blippr.com/profiles/dblume"
-
  feed : "http://feed.dlma.com/twitter_dblume.rss"
  name : twitter
  style : message
  url : "http://twitter.com/dblume"
-
  feed : "http://www.plurk.com/user/dblume.xml"
  name : plurk
  style : message
  url : "http://www.plurk.com/user/dblume"
-
  feed : "http://feed.dlma.com/lastfm_feed.xml"
  feed_old : "http://ws.audioscrobbler.com/1.0/user/davidblume/recenttracks.rss"
  name : last_fm
  style : song
  url : "http://www.last.fm/user/davidblume"
-
  feed : "http://feed.dlma.com/overcast.xml"
  name : overcast
  style : song
  url : "https://overcast.fm"
-
  feed : "http://api.flickr.com/services/feeds/photos_public.gne?id=YOURIDHERE&amp;lang=en-us&amp;format=rss_200"
  name : flickr
  style : picture
  url : "http://flickr.com/photos/dblume/"
-
  feed : "http://feed.dlma.com/netflix_dvds_at_home_feed.xml"
  name : netflix
  style : link
  url : "http://www.netflix.com/"
-
  feed : "https://feeds.pinboard.in/rss/secret:YOURSECRETHERE/u:dblume/"
  name : pinboard
  style : link
  url : "https://pinboard.in/u:dblume"
-
  feed : "http://dblume.wordpress.com/feed/"
  name : wordpress
  style : journal
  url : "http://dblume.wordpress.com/"
-
  feed : "http://task.dlma.com/david.xml"
  name : tasks
  style : message
  url : "http://task.dlma.com/tasks.php?u=david"
-
  name : jaiku
  style : message
  url : "http://dblume.jaiku.com/"
-
  feed : "http://wiki.dlma.com/feed.php"
  name : dokuwiki
  style : journal
  url : "http://wiki.dlma.com/doku.php"
-
  name : pownce
  style : link
  url : "http://pownce.com/dblume/"
-
  feed : "http://feed.dlma.com/instagram-feed.xml"
  name : instagram
  style : picture
  url : "http://instagram.com/davidblume/"
-
  feed : "http://feed.dlma.com/davids_amazon_wishlist.xml"
  name : amazon_wishlist
  style : link
  url : "http://www.amazon.com/gp/registry/wishlist/2W0Q65BXRKQSF"
-
  feed : "https://www.youtube.com/feeds/videos.xml?channel_id=YOURIDHERE"
  name : youtube
  style : picture
  url : "http://www.youtube.com/profile?user=davidblume"
-
  name : digg
  style : link
  url : "http://digg.com/users/dblume"
-
  feed : "http://www.librarything.com/rss/recent/dblume"
  name : librarything
  style : link
  url : "http://www.librarything.com/catalog/dblume"
-
  feed : "http://dblume.tumblr.com/rss"
  name : tumblr
  style : picture
  url : "http://dblume.tumblr.com/"
-
  name : vox
  style : journal
  url : "https://dblume.typepad.com/blog/"
-
  feed : "http://my.dlma.com/feed/"
  name : mydlma
  style : journal
  url : "http://my.dlma.com"
-
  feed : "http://dblume.livejournal.com/data/rss"
  name : livejournal
  style : journal
  url : "http://dblume.livejournal.com"
-
  name : hulu
  style : picture
  url : "http://www.hulu.com/profiles/davidblume"
-
  feed : "http://rps.dlma.com/recent.xml"
  name : rps
  style : journal
  url : "http://rps.dlma.com/recent.html"
-
  feed : "http://task.dlma.com/dblume.xml"
  name : dblume_tasks
  style : message
  url : "http://task.dlma.com/tasks.php?u=dblume"
-
  feed : "http://feed.dlma.com/youtube-favorites-feed.xml"
  name : youtube_favorites
  style : picture
  url : "http://www.youtube.com/profile?user=davidblume"
-
  feed : "https://david.dlma.com/blog/atom/1"
  name : david_dlma
  style : journal
  url : "https://david.dlma.com/blog/"
-
  feed : "http://feed.dlma.com/foursquare_feed.xml"
  name : foursquare
  style : location
  url : "https://foursquare.com/user/61030"
-
  feed : "https://www.goodreads.com/review/list_rss/1496147?key=YOURKEYHERE&amp;shelf=read"
  name : goodreads
  style : link
  url : "http://www.goodreads.com/user/show/1496147"
-
  feed : "http://feed.dlma.com/davids_googleplus_feed.xml"
  name : googleplus
  style : journal
  url : "https://plus.google.com/112121758194167388066/posts"
-
  feed : "http://feed.dlma.com/facebook_feed.xml"
  name : facebook
  style : journal
  url : "https://www.facebook.com/david.blume"
-
  feed : "http://feed.dlma.com/crunchyroll-activity.xml"
  name : crunchyroll
  style : link
  url : "https://www.crunchyroll.com/user/dblume"
-
  feed : "https://mastodon.social/users/dblume.rss"
  name : mastodon
  style : message
  url : "https://mastodon.social/@dblume"
